<div class="card">
  <div class="card-body">
    <div class="row align-items-start">
      <div class="col">
        <Input required class="form-control" @value={{@contact.nom}} placeholder="Nom"/>
      </div>
      <div class="col">
        <Input class="form-control" @value={{@contact.prenom}} placeholder="Prénom"/>
      </div>
      <div class="col">
        <Input type="email" class="form-control" @value={{@contact.email}} placeholder="Email"/>
      </div>
      <div class="col">
        <button class="btn btn-success" type="button" {{on "click" (fn this.save @contact)}}>Valider</button>
      </div>
    </div>
  </div>
</div>