{{page-title "Tds"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}
<div class="container">
  <div class="card">
    <div class="card-header">Contacts</div>
    <div class="card-body">
      {{outlet}}
    </div>
  </div>
</div>